# Игнорируем виртуальное окружение
venv/

# Игнорируем папку __pycache__
*/__pycache__/

# Игнорируем все файлы .pyc
*.pyc

# Игнорируем файлы и директории, связанные с системами сборки
*.pdb
*.egg-info/
dist/
build/
*.egg

# Игнорируем файлы конфигурации среды
.env